* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0253A4;
    border-bottom: 5px solid #000D53;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.logoSebas{
    display: flex;
    align-items: left;
}

.logoSite{
    display: flex;
    align-items: right;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

footer {
    background-color: #0253A4;
    color: #fff;
    padding: 20px 0;
    border-radius: 25px 25px 0 0; 
}

.footer-container h3{
    margin: 5px 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 25px;
    padding: 5px 0;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contato {
    margin: 10px;
}

.footer-contato a{
    color: #fff;
    text-decoration: none;
}