html{
    background-color: #ECECEC;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0253A4;
    border-bottom: 5px solid #000D53;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.logoSebas{
    display: flex;
    align-items: left;
}

.logoSite{
    display: flex;
    align-items: right;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.diferenciais, .informativos{
    text-align: center;
    margin-top: 16px;
    padding: 32px;
}

.diferenciais h1, .informativos h1{
    font-size: 36px;
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 10px;
    margin: 5px;
}

.diferenciais h2, .informativos h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1B8EFF;
    height: 10px;
    margin: 0;
}

.diferenciais p, .informativos p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4C4C;
    margin: 30px;
}

.botoes{
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.botaoChamado{
    flex-direction: column;
    margin: auto;
    border: none;
    border-radius: 8px;
    font-size: 40px;
    color: black;
    background-color: white;
    height: 100%;
    width: 50%;
    cursor: pointer;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.3);
}

.labelCadastro{
    font-size: 15px;
    color: gray;
}


.botaoHistorico{
    flex-direction: column;
    border: none;
    border-radius: 8px;
    font-size: 40px;
    color: black;
    background-color: white;
    height: 100%;
    width: 65%;
    cursor: pointer;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.3);
}

.labelHistorico{
    font-size: 15px;
    color: gray;
}

.update1{
    padding-bottom: 5%;
}

.botaoUpdate1{
    font-size: 40px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: start;
    cursor: pointer;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.3);
}

.alinhamento{
    text-align: left;
    flex-direction: column;
}

.labelUpdate1{
    color: gray;
    font-size: 15px;
}

.botaoUpdate2{
    font-size: 40px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: start;
    cursor: pointer;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.3);
}

.labelUpdate2{
    color: gray;
    font-size: 15px;
}

footer {
    background-color: #0253A4;
    color: #fff;
    padding: 20px 0;
    border-radius: 25px 25px 0 0; 
}

.footer-container h3{
    margin: 5px 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 25px;
    padding: 5px 0;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contato {
    margin: 10px;
}

.footer-contato a{
    color: #fff;
    text-decoration: none;
}