html{
    padding: 10px;
    background-image: url(img/LOGO\ 2.jpeg);
    background-size: cover;
    background-position: center;
    border: solid 6px black;
}

.logoSite{
    margin: auto;
    display: flex;
}

.logoImagem{
    position: absolute;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


h1{
    margin: auto;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 15px;
    width: auto;
}

.sinopse{
    background-color: black;
    font-size: 20px;
    color: white;
}

.quebra{
    padding-top: 50px;
    padding-bottom: 50px;
}

.ajusteBotao{
    padding: 50px;
    padding-bottom: 150px;
    border: solid 3px blue;
}

.escolhaBotao{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 0px;
    font-family: 'Lemon', serif;
    font-size: 30px;
    color: black;
    padding-left: 0px;
    text-decoration: underline;
    background-color: blue;
    width: 350px;
    color: white;
}

.botoes{
    padding-top: 100px;
}
.bordaChamado{
    width: 0px;
    height: 0px;
    padding-left: 350px;
}

.bordaChamado :hover{
    color: rgb(60, 212, 106);
    background-color: black;
}

.botaoChamado{
    border: solid 5px;
    border-radius: 10px;
    font-size: 40px;
    color: black;
    background-color: white;
}

.bordaHistorico{
    width: 0px;
    height: 0px;
    padding-left: 700px;
}

.bordaHistorico :hover{
    color: rgb(60, 212, 106);
    background-color: black;
}

.botaoHistorico{
    border: solid 5px;
    border-radius: 10px;
    font-size: 40px;
    color: black;
    background-color: white;
}

.imagemEscola{
    padding-right: 273px;
}

.descricaoEscola{
    background-color: black;
    font-size: 20px;
    color: white;
}

.emailAjuste{
    padding-top: 20px;
    padding-left: 600px;
}

.email{
    width: 300px;
    height: 20px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    display: flex;
    font-size: 30px;
}

.email :hover{
    color: green;
}

#footer{
    text-align: end;
    color: black;
    padding-top: 50px;
    font-size: 20px;
}