* {
    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #0253A4;
    border-bottom: 5px solid #000D53;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.logoSebas{
    display: flex;
    align-items: left;
}

.logoSite{
    display: flex;
    align-items: right;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

/*--------------------------------------------------------------------------------------------------------------------*/
main {
    background-color: #e6e6e6;
}

.descricao{
    justify-content: center;
    text-align: center;
    margin: 5px;
    margin-top: 30px;
}

.tituloDescricao{
    margin: 20px;
    font-size:larger;
}

/* Estilo para a seção */
section {
    background-color: #cfcfcf; /* Fundo cinza claro */
    border-radius: 15px;
    margin: 50px;
    padding: 20px; /* Adicionado para espaçamento interno */
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para o container do botão "Filtrar" */
.filtrar {
    position: relative;
    margin-top: 20px; /* Espaço acima do botão "Filtrar" */
    text-align: right; /* Alinha o botão à direita */
}

/* Estilo para o botão "Filtrar" */
.btnFiltrar {
    width: 20%; /* Define a largura dos botões */
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #cfcfcf;
    background-color:#0253A4;
    margin: 30px;
}

table{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    border: 5cap;
    padding: 30px;
}

table th{
    padding: 10px;
    background-color: #0253A4;
    color: #ffffff;
}

table td{
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

table th,td{
    border: 5px solid;
    border: 0cap;
}

.btn{
    width: 15%;
    font-size: 16px;
    padding: 5px 0;
    margin: 30px 50px;
    color: #0253A4;
    background-color:#cfcfcf;
    border: 1px solid 0cap;
    border-radius: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #0253A4;
    color: #ffffff;
}

/*--------------------------------------------------------------------------------------------------------------------*/
footer {
    background-color: #0253A4;
    color: #fff;
    padding: 20px 0;
    border-radius: 25px 25px 0 0; 
}

.footer-container h3{
    margin: 5px 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 25px;
    padding: 5px 0;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contato {
    margin: 10px;
}

.footer-contato a{
    color: #fff;
    text-decoration: none;
}